<?xml version="1.0" encoding="UTF-8"?>
<config xmlns="http://humanistika.org/ns/tei-completer">
    <server>
        <baseUrl>http://127.0.0.1:8000</baseUrl>
    </server>
    <autoComplete>
        <context>//rs</context>
        <attribute>@ref</attribute>
        <dependent default="baserow/person">@type</dependent>
        <selection>@n</selection>
        <request>
            <url>$baseUrl/$dependent/?q=$selection&amp;format=teicompleter</url>
        </request>
    </autoComplete>
</config>